.MainPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #ffffff;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  padding: 0 20%;
}